@media (prefers-color-scheme: dark) {
  :root {
    --background: 249, 249, 249;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFF; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #98999C;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #909193; 
}

*{
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  background: rgb(var(--background)) ;
}